<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SAME | MOMENT   Profile</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>

    <div class="title"> SAME | MOMENT </div>
    <nav class="navbar navbar-default ruiset">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/samemoment/">Welcome! {{user}}</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/samemoment/">Home</a></li>
        <li><a href="/samemoment/view-profile/{{user}}">Profile</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/samemoment/logout">Log Out</a></li>
      </ul>
    </div>
  </nav>



  <div class="content">
  {% for error in errors %}
      <div class="error">
          {{error}}
      </div>
  {% endfor %}
  <div class="sub-title"> Profile </div>


    <div class="info"><span>FirstName: <small>{{view_user.first_name}}</small></span><br><span>LastName: <small>{{view_user.last_name}}</small></span></div>


  <div class="sub-title"> {{view_user.username}}'s Moments </div>
  <div class="posts">

        {% for post in posts %}



                <div class="media">
                <div class="media-left">
                  <a href="/samemoment/view-profile/{{post.user}}"><img class="align-self-start img-circle" width="60" height="60" src="/static/img/a.jpg" alt="user image" /></a>
                  <form class="d-flex align-self-start mr-3 view-form" action="/samemoment/view-profile/{{post.user}}" method="POST">

                  <button type="submit" class="btn btn-success btn-xs">Profile</button>
                  {% csrf_token %}

                  </form>
  </div>
                  <div class="media-body">
                    <h4 class="mt-0">{{post.user}}  <small>{{post.create_time}}</small></h4>
                    <p class="mt-1 ruifont">{{post.text}}</p>


  </div>
          </div>
  <br>
        {% endfor %}
  </div>

</div>
<div class="tail">
  <h5> Designed by <a href="http://github.com/rubyfrea">Rui Tian</a>
    Website: <a href="http://limmm.com">limmm Pumela</a>
    Linkedin: <a href="http://www.linkedin.com/in/rui-tian-78ab1b112"> Rui Tian</a>
  </h5>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>


</html>
